.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s;
  display: block !important;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  -webkit-animation: bounceIn 1.0s;
  animation: bounceIn 1.0s;
}
  
.cas-message.ng-hide-remove {
    -webkit-animation: bounceIn 1.0s;
    animation: bounceIn 1.0s;
}
 
.cas-message.ng-hide-add {
    -webkit-animation: flipOutX 0.5s;
    animation: flipOutX 0.5s;
    display: block !important;
}

.jcrop-holder {
  direction: ltr;
  text-align: left;
}
/* Selection Border */
.jcrop-vline,
.jcrop-hline {
  background: #ffffff url("images/Jcrop.gif");
  font-size: 0;
  position: absolute;
}
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}
.jcrop-vline.right {
  right: 0;
}
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}
.jcrop-hline.bottom {
  bottom: 0;
}
/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}
/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}
/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}
/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70!important;
}
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}
/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}
/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}
/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.dyn-border {
border-bottom : lightgray 1px solid;
border-top : lightgray 1px solid;
border-left : lightgray 1px solid;
border-right : lightgray 1px solid;
padding-bottom: 6px;
height: 31px;
cursor:auto;
}

.pointer-default {
    cursor:default;
}

.pointer-hand {
	cursor:pointer;
}

.upload-file-container {
   background: url(uploadWhite2.png) no-repeat;
   right:-15px;
   cursor:pointer;
}

.upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   cursor:pointer;
}

.upload-file-img-container {
   background: url(uploadWhite3.png) no-repeat;
   cursor:pointer;
}

.upload-file-img-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   cursor:pointer;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

body {
  padding-top: 90px;
  padding-bottom: 30px;
}


.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


/* link navbar */
.navbar-default .navbar-nav > li > a {
padding: 30px 20px 30px;
padding-top: 25px;
padding-right: 20px;
padding-bottom: 27px;
}

###################

#ng-view {
  position:relative;
}

.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}

#######################

.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(-180deg) translatez(30px);
    -moz-transform: rotateX(-180deg) translatez(30px);
    -ms-transform: rotateX(-180deg) translatez(30px);
    -o-transform: rotateX(-180deg) translatez(30px);
    transform: rotateX(-180deg) translatez(30px);
    opacity: 0;
    height: 0px;
}        
 
.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg) translatez(30px);
    -moz-transform: rotateX(0deg) translatez(30px);
    -ms-transform: rotateX(0deg) translatez(30px);
    -o-transform: rotateX(0deg) translatez(30px);
    transform: rotateX(0deg) translatez(30px);
    opacity: 1;
    height: 30px;
}


######################

.slide-enter, 
.slide-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.slide-enter {
    left: 100%;
}
.slide-enter.slide-enter-active {
    left: 0;
}
 
.slide-leave {
    left: 0;
}
.slide-leave.slide-leave-active{
    left: -100%;
}



##################################################################

.my-slide-container {
  position:relative;
}
.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.my-slide-animation.ng-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.my-slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.my-slide-animation.ng-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.my-slide-animation.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}

###########################################################

.example-animate-container {
  background:white;
  list-style:none;
  margin:0;
  padding:0;
}
 
.example-animate-container > li {
  padding:10px;
  list-style:none;
}
 
.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-enter {
  line-height:0;
  opacity:0;
  padding-top:0;
  padding-bottom:0;
}
.animate-repeat.ng-enter.ng-enter-active {
  line-height:20px;
  opacity:1;
  padding:10px;
}
 
.animate-repeat.ng-leave {
  opacity:1;
  line-height:20px;
  padding:10px;
}
.animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
  line-height:0;
  padding-top:0;
  padding-bottom:0;
}
 
.animate-repeat.ng-move { }
.animate-repeat.ng-move.ng-move-active { }

##############################################################

.zippy {
  border: 1px solid black;
  display: inline-block;
  width: 250px;
}
.zippy.opened > .title:before { content: '▼ '; }
.zippy.opened > .body { display: block; }
.zippy.closed > .title:before { content: '► '; }
.zippy.closed > .body { display: none; }
.zippy > .title {
  background-color: white;
  color: black;
  padding: .1em .3em;
  cursor: pointer;
}

html {
       overflow-y: scroll;
}

::-webkit-scrollbar {
      width: 15px;
}

input[type="file"] {
	width: 7em;
	width: 6.2em \0/IE9;
	height: 1.5em;
	margin: 5px;
}
.sel-file {
	padding: 0 5px;
	font-size: smaller;
	color: grey;
}

.response {
	padding-top: 30px;
}

.response li {
	color: blue;
	font-size: smaller; 
}

/* for IE*/
.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

/* */
.cas-btn {
color: #333333;
background-color: #ffffff;
border-color: #FFFFFF;
}

.cas-btn:hover, .cas-btn:focus, .cas-btn:active, .cas-btn.active, .open .dropdown-toggle.cas-btn {
color: #333333;
background-color: #ffffff;
border-color: #ffffff;
}

.cas-btn.disabled,
.cas-btn[disabled],
fieldset[disabled] .cas-btn,
.cas-btn.disabled:hover,
.cas-btn[disabled]:hover,
fieldset[disabled] .cas-btn:hover,
.cas-btn.disabled:focus,
.cas-btn[disabled]:focus,
fieldset[disabled] .cas-btn:focus,
.cas-btn.disabled:active,
.cas-btn[disabled]:active,
fieldset[disabled] .cas-btn:active,
.cas-btn.disabled.active,
.cas-btn[disabled].active,
fieldset[disabled] .cas-btn.active {
  background-color: #ffffff;
  border-color: #ffffff;
}

a.castab:hover, a.castab:focus {
color: grey;
text-decoration: underline;
}
a.castab {
color: lightgray;
text-decoration: none;
}

.table > thead > tr > td.crtremoved,
.table > tbody > tr > td.crtremoved,
.table > tfoot > tr > td.crtremoved,
.table > thead > tr > th.crtremoved,
.table > tbody > tr > th.crtremoved,
.table > tfoot > tr > th.crtremoved,
.table > thead > tr.crtremoved > td,
.table > tbody > tr.crtremoved > td,
.table > tfoot > tr.crtremoved > td,
.table > thead > tr.crtremoved > th,
.table > tbody > tr.crtremoved > th,
.table > tfoot > tr.crtremoved > th {
  background-color: #9E9E9E;
}
.table-hover > tbody > tr > td.crtremoved:hover,
.table-hover > tbody > tr > th.crtremoved:hover,
.table-hover > tbody > tr.crtremoved:hover > td,
.table-hover > tbody > tr.crtremoved:hover > th {
  background-color: #B1B1B1;
}

/*
datepiccer classes
*/

.text-muted-datepicker {
  color: #999999;
  font-weight: normal;
}

.btn-datepicker {
  color: #333333;
  background-color: #ffffff;
  font-weight: bold;
  border: none;
}

.btn-sm-datepicker {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
}

/*
modal classes
*/

.full-size-modal > .modal-dialog
{
	width: 100%;
}

.seventyfive-size-modal > .modal-dialog
{
	width: 75%;
}

.ten-size-modal > .modal-dialog
{
	width: 1000px;
}

.twelve-size-modal > .modal-dialog
{
	width: 1200px;
}

.thirteen-size-modal > .modal-dialog
{
	width: 1300px;
}

.forthteen-size-modal > .modal-dialog
{
	width: 1400px;
}

.tooltip-content {
    display: none; /* required */
    /*position: absolute;  required */
    position: fixed;
  	top: 20%;
  	left: 30%;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color = #818181, offX = 7, offY = 7, positive = true);
    z-index: 9999;
}

.rec-gold {
    color: gold;
}

.rec-green {
    color: green;
}

.eye-orange {
    color: orange;
}

.core-exceptions-header {
	background-color: lightgray;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="file"].FormElement  {
	width: 600px;
}


    .gridStyle {
        border: 1px solid rgb(212,212,212);
        width: 100%;
        height: 300px;
    }

    .op_container {
        text-align: center
    }

    .query .row_item {
        vertical-align: middle;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .add_item {
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .prop_name {
    }

    .prop_type {
        margin-left: 30px;
        color: gray;
        font-style: italic;
    }

    .property_dropdown {
        min-width: 300px
    }

    .narrow_col {
        margin-left:10px;
    }

    .logic {
        border-radius:5px;
        background-color:#F8F8F8;
        border:solid 1px #E0E0E0;
        width: 50px;
        height: 20px;
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    .condition {
        width: 615px;
        height: 30px;
        border-radius:5px;
        margin-top: 4px;
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 10px;
        background-color: #E8E8E8;
        border:solid 1px #E0E0E0
    }

    .menu_item {
        padding: 10px;
    }

    .menu_item:hover {
        padding: 10px;
        background-color: #e0e0e0;
    }

    .type {
        color: gray;
        font-style: italic;
    }

    .invalid {
        color: gray;
        font-style: italic;
    }

    .queryCode {
        font-size: 10px;
        font-style: italic;
        word-wrap: break-word;
        width:100%;
        height:400px;
    }

    .outputFormat {
        width:100%
    }

    .outputDesc {
        font-size: 12px;
        float: right;
        text-align: right;
        margin-top: 6px;
    }

    .indent {
        margin-left:30px;
    }

    .query .ipad_only {
        display: none;
    }
    .query .desk_only {
        display: inline;
    }

    .or_group {
        background-color: #e0e0e0;
        border-radius:5px;
        padding: 5px;
    }

    .and_group {
        background-color: White;
        border-radius:5px;
        padding: 5px;
    }

    .node_in {
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: node_in_keyframes;
        -webkit-animation-iteration-count: 1;
    }

    @-webkit-keyframes node_in_keyframes {
        0% { max-height: 0px; }
        100% { max-height: 500px }
    }

    .node_out {
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: node_out_keyframes;
        -webkit-animation-iteration-count: 1;
        overflow: hidden;
    }

    @-webkit-keyframes node_out_keyframes {
        0% { max-height: 100px; }
        100% { max-height: 0px }
    }
